<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhanMemBanHang.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhanMemBanHang.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PhanMemBanHang.My.MySettings.phongTMT_PhanMemBanHang_MatTroi_DemoConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLBanHang_MatTroi;Persist Security Info=True;User ID=sa;Password=123123"
            providerName="System.Data.SqlClient" />
        <add name="PhanMemBanHang.My.MySettings.QLBanHang_MatTroiConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLBanHang_MatTroi;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhanMemBanHang.My.MySettings.phongTMT_PhanMemBanHang_TheSunConnectionString"
            connectionString="Data Source=tx.skyit.vn;Initial Catalog=phongTMT_PhanMemBanHang_TheSun;User ID=levandong;Password=1q2w3e4r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <PhanMemBanHang.My.MySettings>
            <setting name="DuongDanAnh" serializeAs="String">
                <value />
            </setting>
            <setting name="SoChuSoKhongPhieu" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SoDongTimKiem" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ThoiGianTimKiemCham" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="KieuHoaDon" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KieuPhieuXuat" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="KieuPhieuNhap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MacDinhTimKiemSanPham" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoDongTimKiemSanPham" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ThoiGianTimKiemChamSanPham" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DuongDanFileBackup" serializeAs="String">
                <value>D:\PhanMemTMT\Backup</value>
            </setting>
            <setting name="CoBak10Ngay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CoBak30Ngay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaoLuuKhiDangNhap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaoLuuKhiTatChuongTrinh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaoLuuHangTuan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaoLuuVaoThuMay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KhongDuocPhepBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LuonXacNhanHoaDon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HienFormSauKhiIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DelayTimKiemMaVach" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="KieuPhieuThu" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="KieuPhieuChi" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="TenCuaHang" serializeAs="String">
                <value>TMT</value>
            </setting>
            <setting name="TimKiemTheoMaVach" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KieuTimKiem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimKiemTheo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KieuDatHang" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="KieuBaoGia" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="idKhachHangMacDinh" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ChonKhachHangMacDinh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaiKhoan" serializeAs="String">
                <value>zhPaYpvkub6jXXD2Nm7I+w==</value>
            </setting>
            <setting name="MatKhau" serializeAs="String">
                <value>KoJs5PPSPFmBayJoSIVf5Q==</value>
            </setting>
            <setting name="TuDongKiemTraCapNhat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZoomReport" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ThongTinKetNoi" serializeAs="String">
                <value>rUcQ4h5+G3vJeYimTQV8Rm0cFEYl9mXOkH95Ly0Efkrq7OlM3KU493OX6WQaXnkFDIfcHVYVWh9iDnqARqsdfvUqsptoAAnww3Mk3NTIo0AmZytNv8ZclKR29w1ztAUUBLQFmGpX2Ma3RDYhxG0M5Jt5zDWEN+iA2OqKb5TJdWeJO6vt6cBcUO/DGdFDe9zz</value>
            </setting>
            <setting name="SoLien" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KieuPhieuDoiTra" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="CongGopSanPham" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HienAnhTrenGiaoDienBanHang" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaurateCan" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="CongCom" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="ReadToCan" serializeAs="String">
                <value>k</value>
            </setting>
            <setting name="PatermCan" serializeAs="String">
                <value>[0-9]*\.[0-9]*</value>
            </setting>
            <setting name="KieuHoaDonGTGT" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="strGhiChu" serializeAs="String">
                <value />
            </setting>
            <setting name="strCongTien" serializeAs="String">
                <value />
            </setting>
            <setting name="strChietKhauPhanTram" serializeAs="String">
                <value />
            </setting>
            <setting name="strChietKhauGiamTien" serializeAs="String">
                <value />
            </setting>
            <setting name="strThanhTien" serializeAs="String">
                <value />
            </setting>
            <setting name="strTienSauThue" serializeAs="String">
                <value />
            </setting>
            <setting name="strTenSanPhamQuaDai" serializeAs="String">
                <value />
            </setting>
            <setting name="HienAnhTrenHoaDon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CotInMaVach" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LoaiTemCanHang" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SoSoKhongPhieuThuChi" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SoSoKhongHoaDon" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SoDongKhachHangTrenMotTrang" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoSoKhongPhieuXuatNhap" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TenCongTy" serializeAs="String">
                <value>CÔNG TY TNHH THƯƠNG MẠI &amp; DỊCH VỤ</value>
            </setting>
            <setting name="ThongTinLienHe" serializeAs="String">
                <value />
            </setting>
            <setting name="DiaChi" serializeAs="String">
                <value />
            </setting>
            <setting name="NhacNho" serializeAs="String">
                <value />
            </setting>
            <setting name="ChieuDaiOTienChu" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="HienDuongGachCuoi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoDongToiDa" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ChieuDaiODiaChi" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="EmailCongTy" serializeAs="String">
                <value />
            </setting>
            <setting name="WebsiteCongTy" serializeAs="String">
                <value />
            </setting>
            <setting name="MaSoThue" serializeAs="String">
                <value />
            </setting>
            <setting name="SoTaiKhoan" serializeAs="String">
                <value />
            </setting>
            <setting name="DienThoai" serializeAs="String">
                <value />
            </setting>
            <setting name="Fax" serializeAs="String">
                <value />
            </setting>
            <setting name="KhoangCachHaiDongLienTiep" serializeAs="String">
                <value>0.63</value>
            </setting>
            <setting name="ChieuDaiOHangHoa" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="DuongDanLuuExcel" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="SoLienIn" serializeAs="String">
                <value>1</value>
            </setting>
        </PhanMemBanHang.My.MySettings>
    </userSettings>
    <applicationSettings>
        <PhanMemBanHang.My.MySettings>
            <setting name="PhanMemBanHang_com_hayketnoi_iclickupdater_UpdateIClick"
                serializeAs="String">
                <value>http://iclickupdater.hayketnoi.com/UpdateIClick.svc</value>
            </setting>
        </PhanMemBanHang.My.MySettings>
    </applicationSettings>
</configuration>
